{% extends 'base.html' %}
{% block content %}
  <a class="btn btn-primary" href="{% url 'todo_list:task-create' %}">Add new task</a>
  {% for task in object_list %}
    <p>
      {{ task.content }}
    </p>
    <p>
      {{ task.created_at }}
    </p>
    <p>
      {{ task.deadline }}
    </p>
    <p>
    {% if task.done %}
      Done
    <a href="{% url 'todo_list:task-switch-to-undone' task.pk %}" class="btn btn-primary">Undone</a>
    {% else %}
      Undone
    <a href="{% url 'todo_list:task-switch-to-done' task.pk %}" class="btn btn-primary">Done</a>
    {% endif %}
    </p>
    {% for tag in task.tags.all %}
      <p>
      {{ tag }}
      </p>
      {% endfor %}
    <a class="btn btn-primary" href="{% url 'todo_list:task-update' task.pk %}">Update task</a>
    <a class="btn btn-danger" href="{% url 'todo_list:task-delete' task.pk %}">Delete task</a>
  {% endfor %}
{% endblock %}
